#notification{
    display: flex;
    flex-direction: row;
    /*z-index: 200;*/
    position: fixed;
    top: 48px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: rgb(237,194,39);
}
#center_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;

}
.close{
    margin-right: 4%;
}
#left_block {
    margin-right: 4%;
}
